//import
@import "utilidades/variables";
@import "utilidades/mixin";

//propiedades de reset
@import "utilidades/reset";

/*estilos mobile*/
/*estilos de header y footer*/

.loguitochico{
    width: 93px;
    height: 93px;
    margin-top: 5px;
}

.animacion-uno{
    border: 2px solid black;
    max-width: 70%;
    max-height: 70%;
    border-radius: 3px;
    scale: 0.87;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.4, 1.55, 0.74, 0.55);
  }

.animacion-uno:hover{
    transform: scale(1.11);
}

header{
    background-color: $color-principal;
    display: flex;
    position: sticky;
    z-index: 2;
    nav{
            a{
                background-color: #c0ac8c;
                color: whitesmoke;
                text-decoration: none;
            }
    }
    img{
        margin: 5px;
    }
}

.centrar-boton{
    width: 100%;
    display: flex;
    justify-content: center;
}

h1, h2{
    text-align: center;
    color: $color-titulos;
}
footer{
    background-color: aliceblue;
    text-align: center;
    padding-top: 40px;
    p{
        font-size: smaller;
    }
}

/*estilos de main*/
.infoencabezado{
    padding: 3%;
    font-size: 20px;
    text-align: center;
    color: #491f0bb7;
}

main{
    font-family: $fuente;
    text-align: center;
    background-color: whitesmoke;
    .bannercentrado{
        position: relative;
        justify-items: center;
        align-items: center;
        div{
            position: absolute;
            width: 100%;
                    
            h1{
                text-align: center;
                text-transform: uppercase;
                font-size: 25px;
            }
            h2{
                text-align: center;
                color: #201812cc;
            }
        }
        img{
            width: 99%;
        } 
    } 
    a{
        @include boton;
    }
    .animacion-uno{
        width: 70%;
        border: 5px solid $color-principal;
        margin-top: 8px;
    }
    section{
        div{
            p{
                color: #42326b;
                padding: 15px 15px;
            }
        }
    }
}

//Cuadros, macramé, realeggza//
@import "utilidades/productos";

//estilos main html contacto
@import "utilidades/contacto";

//media query//
@import "utilidades/mq";